<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration>

    
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://132.18.53.58:3306/unsis_smile</property>
            <property name="hibernate.connection.username">Getzemani</property>
        <property name="hibernate.connection.password">Getzemani123</property>
        <property name="hibernate.connection.pool_size">1</property>
        <property name="hibernate.show_mysql">true</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <mapping class="com.unsis.odonto.edu.entity.Administradores"></mapping>
        <mapping class="com.unsis.odonto.edu.entity.Alumnos"></mapping>
        <mapping class="com.unsis.odonto.edu.entity.AnalisisFuncional"></mapping>
        <mapping class="com.unsis.odonto.edu.entity.AnalisisRadiografico"></mapping>
        <mapping class="com.unsis.odonto.edu.entity.AntecedentesHeredofamiliares"></mapping>
        <mapping class="com.unsis.odonto.edu.entity.AntecedentesPersonalesFamiliares"></mapping>
        <mapping class="com.unsis.odonto.edu.entity.AntecedentesPersonalesNoPatologicos"></mapping>
        <mapping class="com.unsis.odonto.edu.entity.AntecedentesPersonalesPatologicos"></mapping>
        <mapping class="com.unsis.odonto.edu.entity.CatedraticoGrupo"></mapping>
        <mapping class="com.unsis.odonto.edu.entity.Catedraticos"></mapping>
        <mapping class="com.unsis.odonto.edu.entity.Clinica"></mapping>
        <mapping class="com.unsis.odonto.edu.entity.Consulta"></mapping>
        <mapping class="com.unsis.odonto.edu.entity.DienteDetalle"></mapping>
        <mapping class="com.unsis.odonto.edu.entity.EstadoDiente"></mapping>
        <mapping class="com.unsis.odonto.edu.entity.EstudioDeLaboratorioBiopsia"></mapping>
        <mapping class="com.unsis.odonto.edu.entity.ExamenBucal"></mapping>
        <mapping class="com.unsis.odonto.edu.entity.ExamenClinico"></mapping>
        <mapping class="com.unsis.odonto.edu.entity.ExamenFacial"></mapping>
        <mapping class="com.unsis.odonto.edu.entity.Grupo"></mapping>
        <mapping class="com.unsis.odonto.edu.entity.HistoriaClinicaGeneral"></mapping>
        <mapping class="com.unsis.odonto.edu.entity.InterconsultaMedica"></mapping>
        <mapping class="com.unsis.odonto.edu.entity.ModelosDeEstudioFotografias"></mapping>
        <mapping class="com.unsis.odonto.edu.entity.Odontograma"></mapping>
        <mapping class="com.unsis.odonto.edu.entity.Paciente"></mapping>
        <mapping class="com.unsis.odonto.edu.entity.PacienteAlumno"></mapping>
        <mapping class="com.unsis.odonto.edu.entity.PiezasDentales"></mapping>
        <mapping class="com.unsis.odonto.edu.entity.PosturaDelPaciente"></mapping>
        <mapping class="com.unsis.odonto.edu.entity.ProcedimientoTipo"></mapping>
        <mapping class="com.unsis.odonto.edu.entity.RegionDiente"></mapping>
        <mapping class="com.unsis.odonto.edu.entity.RolAlumno"></mapping>
        <mapping class="com.unsis.odonto.edu.entity.RolesTiposUsuario"></mapping>
        <mapping class="com.unsis.odonto.edu.entity.SemestreGrupo"></mapping>
        <mapping class="com.unsis.odonto.edu.entity.Semestres"></mapping>
        <mapping class="com.unsis.odonto.edu.entity.SignosVitales"></mapping>
        <mapping class="com.unsis.odonto.edu.entity.Tutor"></mapping>
        <mapping class="com.unsis.odonto.edu.entity.Usuarios"></mapping>
    </session-factory>
</hibernate-configuration>
