<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>SvltLoginController</servlet-name>
        <servlet-class>com.unsis.odonto.edu.controller.SvltLoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvltadminSemestreGrupoController</servlet-name>
        <servlet-class>com.unsis.odonto.edu.controller.SvltadminSemestreGrupoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvltadminPacientesController</servlet-name>
        <servlet-class>com.unsis.odonto.edu.controller.SvltadminPacientesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvltalumnoPacienteController</servlet-name>
        <servlet-class>com.unsis.odonto.edu.controller.SvltalumnoPacienteController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SvltLoginController</servlet-name>
        <url-pattern>/SvltLoginController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SvltadminAlumnosController</servlet-name>
        <servlet-class>com.unsis.odonto.edu.controller.SvltadminAlumnosController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SvltadminAlumnosController</servlet-name>
        <url-pattern>/SvltadminAlumnosController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SvltadminAdministradoresController</servlet-name>
        <servlet-class>com.unsis.odonto.edu.controller.SvltadminAdministradoresController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SvltadminAdministradoresController</servlet-name>
        <url-pattern>/SvltadminAdministradoresController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SvltadminCatedraticosController</servlet-name>
        <servlet-class>com.unsis.odonto.edu.controller.SvltadminCatedraticosController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SvltadminCatedraticosController</servlet-name>
        <url-pattern>/SvltadminCatedraticosController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvltadminSemestreGrupoController</servlet-name>
        <url-pattern>/SvltadminSemestreGrupoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvltadminPacientesController</servlet-name>
        <url-pattern>/SvltadminPacientesController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvltalumnoPacienteController</servlet-name>
        <url-pattern>/SvltalumnoPacienteController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
