<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.unsis.odonto.edu.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PacienteServletController</servlet-name>
        <servlet-class>com.unsis.odonto.edu.controller.PacienteServletController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AlumnoController</servlet-name>
        <servlet-class>com.unsis.odonto.edu.controller.AlumnoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AlumnoController</servlet-name>
        <url-pattern>/AlumnoController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdministradoresServletController</servlet-name>
        <servlet-class>com.unsis.odonto.edu.controller.AdministradoresServletController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdministradoresServletController</servlet-name>
        <url-pattern>/AdministradoresServletController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProfesorServlet</servlet-name>
        <servlet-class>com.unsis.odonto.edu.controller.ProfesorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProfesorServlet</servlet-name>
        <url-pattern>/ProfesorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PacienteServletController</servlet-name>
        <url-pattern>/PacienteServletController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
